{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
<title>Announcements</title>
{% endblock title %}

{% block content %}
    {% if announcements %}
    <h1>All your announcements</h1>
    <h2>Quantity: {{ announcements|length }}</h2>
    <hr>
    {% if perms.board.add_announcement %}
    <a href="{% url 'announcement_create' %}">Add an announcement</a>
    {% endif %}
        <table>
            <tr>
                <td>Category</td>
                <td>Headline</td>
                <td>Image</td>
                <td>Publication date</td>
                <td>Preview</td>
                <td>Actions</td>
            </tr>
            {% for announcement in announcements %}
            <tr>
                <td>{{ announcement.categoryType }}</td>
                <td>
                    <a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.head|censor }}</a>
                </td>
                <td>
                    {% if announcement.image %}
                    <img src="{{ announcement.image.url }}" alt="connect" style="max-height:100px">
                    {% endif %}
                </td>
                <td>{{ announcement.time_add|date:'d.M.Y' }}</td>
                <td>{{ announcement.body|truncatewords:20|censor }}</td>
                <td>
                    <a href="{% url 'announcement_update' pk=announcement.id %}">Edit</a>
                    <a href="{% url 'announcement_delete' announcement.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
    {% else %}
        <h2>You haven't left any announcements yet</h2>
    {% endif %}
{% endblock content %}